table{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    border-collapse: separate;
    border-spacing: 15px;
    display: inline-block;
}

html{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: auto;
    margin-bottom: auto;
}

nav{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    border-collapse: separate;
    border-spacing: 15px;
    display: inline-block;
}